html{
    
   
    font-family: sans-serif;
}
body{
    width: 400px;
}
span{
    border-radius: 10px;
    margin-left: 195px;
    font-size: 14px;
    background-color: blue;
    padding: 0 10px;
    color: #fff;
    
}
.ol-1{
    padding:15px;
    border: 1px solid #000;
    border-radius: 3px;
    border-bottom: hidden;
}
.ol-2{
    padding:15px;
    border: 1px solid #000;
    border-bottom: hidden;
}
.ol-3{
    padding:15px;
    border: 1px solid #000;
    border-radius: 3px;
}
p{
    padding-left: 24px;
}
.box {
    width: 360px;
}