.img {
    background-color: palevioletred;
    border: 10px solid aqua;
    height: 200px;
    width: 200px;
    border-radius: 50% 50% 5% 5%;
    margin: 10px 6px;
    

}

.girl {
    width: 160px;
    transform: translateY(-13px);
}

.content {
    width: 230px;
    border: 1px solid aqua;
}
